<div class="container w-100">
  <div>

    <h3></h3>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title >Rastreio de Objetos</mat-card-title>
      <mat-card-subtitle>Saiba aonde está seus objetos enviados pelos Correios de uma vez! Sem Captcha, sem verificações!</mat-card-subtitle>

    </mat-card-header>
    <div class="card-body-content">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Codigo de Rastreio</mat-label>
              <input matInput placeholder="Código de rastreio" formControlName="codigo">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <button mat-button type="submit" class="btn btn-primary" (click)="consulta()">Rastrear</button>
          </div>
        </div>
      </form>

    </div>
    
    <div *ngIf="dadosRastreio">
      <app-rastreio [rastreio]="dadosRastreio"></app-rastreio>

    </div>
  </mat-card>

</div>