p,h1,h3{
    font-family: 'Times New Roman', Times, serif;
}
mat-card-header .mat-card-title {
    font-size: 2rem;
    
}
.mat-card-subtitle {
    font-size: 1rem;
}
.card-body-content{
    padding-left: 1rem;
}